# Virtual environment
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Environment
.env

# Database
*.db
*.sqlite
*.sqlite3

# IDE
.idea/
.vscode/

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db